<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href= "{{ url_for('static',filename='styles/main.css') }}">
		<title>Exoplanet App Search</title>
	</head>

	<body>
    <form method="get" action="{{ url_for('results') }}">
      <p style="color:white">
      <label for="searchterm">What do you want to search for:</label>
      <br>
      You can use such terms such as "Hot", "Tau", "Kepler", "Earthlike"
      </br>
      </p>
		   	<input type="text" name="searchterm" /><br />
			  <input type="submit" value="Search" />
    </form>
	</body>
</html>
